.nologin a{
    display: flex;
    justify-content: space-between;
    height: 48px;
    line-height: 48px;
    font-size: 1.4rem;
    margin: 0 5%;
}
.nologin a em {
    font-size: 1.2rem;
    color: #999;
}
.noitem {
    height: 48px;
    line-height: 48px;
    
    font-size: 1.2rem;
    text-align: center;
}
.noitem a {
    display: block;
    color: #999;
    background-color: #ebebeb;
}
.noitem span {
    padding: 6px 10px 6px 32px;
    background: url(../img/cart.png) no-repeat;
    background-size: auto 100%;
}
.noitem em {
    color: #333;
    border: 1px solid #c8c8c8;
    padding: 4px 8px;
}

#recomment h2 {
    height: 40px;
    line-height: 40px;
    margin: 0 5%;
    font-size: 1.4rem;
}
#recomment .recomment-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#recomment .recomment-list li {
    flex-basis: 49%;
}
#recomment .recomment-list a {
    display: block;
    font-size: 1.4rem;
} 
#recomment .recomment-list .info {
    padding: 4% 8%;
}
#recomment .recomment-list .info p {
    font-size: 1.2rem;
    margin-bottom: 2%;
}
#recomment .recomment-list .info .price {
    color:#ff6000;
}
