.product-category {
    overflow: hidden;
    height: 44px;
    border-bottom: 1px solid #d9d9d9;    
}
.product-category .nav-info{
    height: 44px;
    line-height: 44px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow-x: auto;
}

.product-category .nav-info a {
    display: block;
    font-size: 1.4rem;
    margin: 0 4%;
}
.product-category .nav-info a.active {
    color:#fb7d34;
}

#infoList {
    background: #f5f5f5;
}
.channel-banner {
    padding: 3% 0;
    background: #f5f5f5;    
}
.channel-banner a {
    display: block;
}
#infoList .list-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 4%;
}
#infoList .list-wrap li {
    flex-basis: 30%;
}
.category-title {
    text-align: center;
    font-size: 1.4rem;
    color: #333;
    height: 56px;
    line-height: 56px;
}
#infoList > section {
    background-color: #fff;
}
#infoList .list-wrap li p {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2rem;
    color: #666;
}