
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-search:before { content: "\e6ac"; }

.icon-set:before { content: "\e6ae"; }

.icon-discount:before { content: "\e6c5"; }

.icon-home:before { content: "\e6d7"; }

.icon-auto:before { content: "\e6e3"; }

.icon-lianjie:before { content: "\e646"; }

.icon-shezhi:before { content: "\e64b"; }

.icon-shuaxin:before { content: "\e650"; }

.icon-wodedingdan:before { content: "\e655"; }

.icon-wodefankui:before { content: "\e656"; }

.icon-wodehongbao:before { content: "\e657"; }

.icon-wodeyouhuiquan:before { content: "\e65a"; }

.icon-yijianfankui:before { content: "\e662"; }

.icon-xiaoxizhongxin:before { content: "\e665"; }

.icon-lingcunwei:before { content: "\e666"; }

.icon-jushoucanggift:before { content: "\e684"; }

.icon-liwu:before { content: "\e685"; }

.icon-yuyin:before { content: "\e687"; }

.icon-shouye:before { content: "\e639"; }

.icon-favorites:before { content: "\e7ce"; }

