#productList {
    background-color: #f5f5f5;
}
#productList ul a {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fff;
}

#productList ul .tips {
   width: 50%;
   padding: 0 5%;
}
#productList ul .tips h2 {
    color:#333;
    font-size: 1.6rem;
}
#productList ul .tips .sub-title {
    color:#666;
    font-size: 1.4rem;
    margin: 2% 0;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
#productList ul .tips .price {
    color:#ff6000;
    font-size: 1.8rem;
}